figure img {
    height: 265px;
    width: 265px;
    position: relative;
    background: radial-gradient(51.17% 51.78% at 50% 51.17%, #73909C 0%, #204859 100%);
  }
  .modal-dialog {
    width: 60% !important;
    max-width: none !important;
  }
.productDetail {
  color: #7B8093;
}
.togglePlus {
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  top: 0;
  left: 10%;
    color: orange;
    font-size: xx-large;
    outline: none;
}
.toggleChild1 {
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  color: orange;
    font-size: xx-large;
    top: 8%;
    left: 10%;
}
.toggleChild2 {
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  color: orange;
    font-size: xx-large;
    top: 16%;
    left: 10%;
}
.toggleChild3 {
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  color: orange;
    font-size: xx-large;
    top: 24%;
    left: 10%;
}
.toggleChild4 {
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  color: orange;
    font-size: xx-large;
    top: 32%;
    left: 10%;
}
.toggleChild5 {
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  color: orange;
    font-size: xx-large;
    top: 40%;
    left: 10%;
}
.prices {
  font-weight: 500;
  margin: 5% 0;
  text-align: center;
}
.close {
  outline: none;
}
.mobileView .pillbutton {
  margin: 1% 25%;
}
@media (min-width:414px) {
  .mobileView .pillbutton {
    margin: 1% 30%;
  }
}
@media (min-width:768px) {
  .laptopView {
    display: none;
  }
  .tabletView {
    display: block;
  }
  .modal-dialog {
    width: 60%;
  }
  .mobileView {
    display: none;
  }
  figure img {
    height: 350px;
    width: 500px;
  }
  .togglePlus {
    left: 12%;
  }
}

/* @media (max-width:1025px) {
  .laptopView {
    display: none;
  }
  .tabletView {
    display: block;
  }
  .mobileView {
    display: none;
  }
  figure img {
    height: 350px;
  }
} */
@media (min-width:1030px) {
  .laptopView {
    display: block;
  }
  .modal-dialog {
    width: 60%;
  }
  .tabletView {
    display: none;
  }
  .mobileView {
    display: none;
  }
  figure img {
    height: 550px;
    width:500px;
  }
}
@media (max-width: 480px) {
  .laptopView {
    display: none;
  }
  .tabletView {
    display: none;
  }
  .mobileView {
    display: block;
  }
  .modal-dialog {
    width: 95%;
}

.mobileView span {
  display: inline;

}
.appIcons {
  text-align: center;
}

}


.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none !important;
}
.btn-primary[_ngcontent-ijp-c2]:not(:disabled):not(.disabled):active:focus {
  box-shadow: none !important;
}
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: transparent;
  border-color: transparent;
}
.rating > span:hover:before {
  content: "\2605";
  position: absolute;
}
.newPrice{
  color: #ed5872;
}
.button5 {
  border-radius: 50%;
  padding: 8px;
  background-color: white;
  border-color: #7B8093;
    color: #7B8093;
}
.pillbutton {
  background-color: orange;
  border: none;
  color: white;
  font-weight: 500;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}