figure img {
    height: 265px;
    width: 265px;
    position: relative;
    background: radial-gradient(51.17% 51.78% at 50% 51.17%, #73909C 0%, #204859 100%);
  }
  .modal-dialog {
    width: 60% !important;
    max-width: none !important;
  }

.togglePlus {
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  top: 0;
  left: 10%;
    color: orange;
    font-size: xx-large;
}